.section__button {
    background-color: rgb(92, 17, 41);
    color: antiquewhite;
    padding: 6px;
}


.section__button:hover {
    background-color: rgb(150, 72, 97);
    color: antiquewhite;
    padding: 6px;
    cursor: pointer;
}


.section__button:hover {
    background-color: rgb(150, 72, 97);
    color: antiquewhite;
    padding: 6px;
    cursor: pointer;
}