.navigation__element {
    display: inline-block;
}


.navigation__link {
    display: inline-block;
    padding: 18px;
    margin: 12px 12px;
    text-decoration: none;
    color: rgb(2, 23, 27);
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 12px 12px 20px 2px #3b7586;
}


.navigation__link:focus {
    color: whitesmoke;
    box-shadow: 4px 4px 24px 2px whitesmoke;
    outline: none;
}


.navigation__link:hover {
    background-color: whitesmoke;
    color: rgb(28, 80, 90);
    outline: none;
}

.navigation__link:active {
    color: red;
}