.table {
    /* margin-top: 40px; */
    overflow-x: auto;

    margin: 20px auto;
    border-collapse: collapse;
    /* overflow-x: auto; */
}

.table__caption {
    caption-side: bottom;
    text-align: right;
    margin: 10px 0 20px;
    font-style: italic;
    font-size: 14px;
}

.table__cell {
    padding: 15px;
    border: 1px solid #897d7d;
    text-align: center;
}

.table__cell--header {
    background-color: #585454;
    color: whitesmoke;
}


.table__row:hover {
    background-color: #4d4289cf;
    color: #ddd9e7;
}